absl-py==1.4.0
aiohttp==3.8.4
aiohttp-cors==0.7.0
aiorwlock==1.3.0
aiosignal==1.3.1
alembic==1.9.4
anyio==3.6.2
async-timeout==4.0.2
attrs==22.2.0
bayesian-optimization==1.4.2
beautifulsoup4==4.11.2
blessed==1.20.0
bs4==0.0.1
cachetools==5.3.0
certifi==2022.12.7
charset-normalizer==2.1.1
click==8.1.3
cmaes==0.9.1
colorama==0.4.6
colorful==0.5.5
colorlog==6.7.0
contourpy==1.0.7
cycler==0.11.0
distlib==0.3.6
fastapi==0.92.0
filelock==3.9.0
flatbuffers==23.1.21
fonttools==4.38.0
frozenlist==1.3.3
fsspec==2023.1.0
google-api-core==2.11.0
google-auth==2.16.1
google-auth-oauthlib==0.4.6
googleapis-common-protos==1.58.0
gpustat==1.0.0
greenlet==2.0.2
grpcio==1.49.1
h11==0.14.0
idna==3.4
imageio==2.26.0
joblib==1.2.0
jsonschema==4.17.3
kiwisolver==1.4.4
Mako==1.2.4
Markdown==3.4.1
MarkupSafe==2.1.2
matplotlib==3.6.2
mediapipe==0.9.0.1
msgpack==1.0.4
multidict==6.0.4
networkx==3.0
numpy==1.24.2
nvidia-ml-py==11.495.46
oauthlib==3.2.2
opencensus==0.11.1
opencensus-context==0.1.3
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
optuna==3.1.0
packaging==23.0
pandas==1.5.3
Pillow==9.4.0
platformdirs==3.0.0
prometheus-client==0.16.0
protobuf==3.20.3
psutil==5.9.4
py-spy==0.3.14
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.10.5
pyparsing==3.0.9
pyrsistent==0.19.3
python-dateutil==2.8.2
pytube==12.1.2
pytz==2022.7.1
PyWavelets==1.4.1
PyYAML==6.0
ray==2.3.0
requests==2.28.1
requests-oauthlib==1.3.1
rsa==4.9
scikit-image==0.19.3
scikit-learn==1.2.1
scipy==1.9.3
seaborn==0.12.2
six==1.16.0
smart-open==6.3.0
sniffio==1.3.0
soupsieve==2.4
starlette==0.25.0
tabulate==0.9.0
tensorboard==2.12.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6
threadpoolctl==3.1.0
tifffile==2023.2.28
torch==1.13.1
torchvision==0.14.1
tqdm==4.64.1
typing_extensions==4.5.0
urllib3==1.26.13
uvicorn==0.20.0
vidaug==1.5
virtualenv==20.19.0
wcwidth==0.2.6
Werkzeug==2.2.3
yarl==1.8.2